.car__item {
  padding: 12px;
  background: linear-gradient(
    274deg,
    rgba(1, 210, 147, 1) 34%,
    rgba(15, 88, 66, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.data {
  color: white;
  display: flex;
  justify-content: space-between;
}
.car_img{
    width:200px;
     height:100px;
}
@media only screen and (max-width: 620px) {
  .title {
    font-size: small;
  }
  .data {
    font-size: small;
  }
}
@media only screen and (max-width: 420px) {
   img{
    width: 150px;
    height: 80px;
  }
}

@media only screen and (max-width: 350px) {
  .title {
    font-size: x-small;
  }
  .data {
    font-size: x-small;
  }
}
